<ion-view class="bodyenclose" title="Fets Wallet" hide-nav-bar="true" >
<ion-content  >
    <div class="logo_backgd"><img src="img/fets-logo.png" class="image_def" ></div>
    <div class="list " id="homelist2">
    
          <a  class="item item-icon-left item-icon-right bcklist" href="#/mainState/paybills">
            <i class="icon light ion-ios7-cart"></i>
            Pay Bills
            <i class="icon dark ion-chevron-right addgreen"></i>
          </a>
        
          <a  class="item item-icon-left item-icon-right bcklist" href="#/mainState/topup">
            <i class="icon stable ion-iphone"></i>
            Airtime Top Up
            <i class="icon dark ion-chevron-right addorange"></i>
          </a>
        
          <a  class="item item-icon-left item-icon-right bcklist" href="#/mainState/funding">
            <i class="icon stable ion-arrow-swap"></i>
            Funds Transfer
            <i class="icon dark ion-chevron-right addpurple"></i>
          </a>
        
         
          <a class="item item-icon-left item-icon-right bcklist" href="#/mainState/fund" >
            <i class="icon stable ion-card"></i>
            Fund Wallet
            <i class="icon dark ion-chevron-right addgreen"></i>
          </a>
          <a class="item item-icon-left item-icon-right bcklist" href="#/mainState/manageWallet">
            <i class="icon stable ion-compose"></i>
            Wallet Manager
            <i class="icon dark ion-chevron-right addorange"></i>
          </a>
          <a class="item item-icon-left item-icon-right bcklist" href="#/mainState/agents">
            <i class="icon stable ion-android-search"></i>
            Find Agent
            <i class="icon dark ion-chevron-right addpurple"></i>
          </a>
    
    
</div>
        </ion-content>
      </ion-view>

