<ion-view class="bodyenclose" title="fetswallet Manager" >
<ion-content   has-header="true"  >
    <div class="logo_backgd"><img src="img/fets-logo.png" class="image_def2" ></div>
     <div class="list card" id="homelist">
     <div class="item item-dark item-divider">
     <h2 class="fetTitle">Wallet Management</h2>
     </div>
     <a  class="item item-icon-left item-icon-right bcklist" href="#/mainState/checkBal">
            <i class="icon light ion-ios7-calculator-outline"></i>
            Check Balance
            <i class="icon dark ion-chevron-right addgreen"></i>
          </a>
          <a  class="item item-icon-left item-icon-right bcklist" href="#/plane/changepasd">
            <i class="icon light ion-ios7-locked-outline"></i>
            Change Password
            <i class="icon dark ion-chevron-right addorange"></i>
          </a>
          <a  class="item item-icon-left item-icon-right bcklist" href="#">
            <i class="icon light ion-link"></i>
            Previous Transactions
            <i class="icon dark ion-chevron-right addpurple"></i>
          </a>
     </div>
 </ion-content>
 </ion-view>
