<ion-view title="wallet funding" >
	<ion-content  class="bodyenclose3" has-header="true"  >
   		<div class="logo_backgd"><img src="img/fets-logo.png" class="image_def2" ></div>
        <div ng-show="showform" >
        <form name="form" class="css-form" novalidate>
            <div class="list card listshow">
            <div class="item item-dark item-divider">
            Fund Wallet (Bal: N{{authVal.walletAvailableBalance}})
            <p class="errmsg" ng-show="failDisplay">{{failMsg}}</p>
            <p class="sucmsg" ng-show="sucDisplay">{{sucMsg}}</p>
            </div>
            <div class="item item-input bcklist2 item-stacked-label">
                <span class="input-label">Wallet Phone Number</span>
                <input type="text" placeholder="Enter Phone Number" disabled ng-model="allval.phone" required>
             </div>
             <div class="item item-input bcklist2 item-stacked-label">
                <span class="input-label">Amount (min. N1000.00)</span>
                <input type="number" placeholder="Enter Amount"  isNumber ng-model="allval.amount" required>
             </div>
              <label class="item item-input bcklist2" >
              <button class="button button-full button-dark btnfull" ng-disabled="form.$invalid"  
              ng-click="payment()">Pay</button>
              </label>
              
        </div>
        </form>
        </div>
        </ion-content>
</ion-view>
